<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>
                <!--DASHBOARD-->
                <li>
                    <a href=@Url.Action("Index", "Dashboard") class="waves-effect">
                        <i class="ri-dashboard-line"></i><span class="badge rounded-pill bg-success float-end">3</span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!--CATALOGOS-->
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-3-fill"></i>
                        <span>Catálogos</span>
                    </a>
                   
                    <ul class="sub-menu" aria-expanded="false">                                              
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-admin-fill"></i>Usuarios</a></li> 
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>1-Dir.Inspección y Vig.</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>2-Dir.Protección Civil</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>3-Inst.Acceso a la Justicia y Mediación</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>4-Dir.Justicia Cívica</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>5-Dir.Vocalía Ejec. y Tenencia de la Tierra</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>6-Dir.Jurídica</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>7-Bienestar</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>8-Dir.Activación Física y Deportes</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>9-Salud Municipal</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>10-Bienestar Social</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>11-Secretaría de la Mujer</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>12-Inversión en Obra Pública</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>13-Dir.Protección y Bienestar Animal</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>14-Secretaría del Medio Ambiente</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>15-Secretaría de Desarrollo Económico y Turismo</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>16-DIF Municipal</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>17-Desarrollo Urbano</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>18-Seguridad</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Pages500")><i class="ri-account-pin-circle-line"></i>19-Tesorería</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->